body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #222;
  color: white;
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.product-card {
  border: 1px solid #ccc;
  width: 200px;
  padding: 10px;
}

.product-card img {
  width: 100%;
  height: auto;
}
.imagen-principal {
  width: 300px;
  border-radius: 15px;
  display: block;
  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.price {
  font-weight: bold;
}
